<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!--    BootStrap Library-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--    JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!--    Javascript-->
    <script src="/htmlApi.js"></script>

    <!--    Include CSS -->
    <!-- <link href="/meStyleSheet.css" rel="stylesheet"/> -->


</head>
<script>
    function sign_up() {
            const nickname = $("#Nickname").val();
            const password1 = $("#Password1").val();
            const password2 = $("#Password2").val();
            console.log(password2)
            $.ajax({
                type: "POST",
                url: "/api/sign",
                data: {
                    nickname: nickname,
                    password: password1,
                    confirmPassword: password2,
                },
                success: function (response) {
                    location.href = "/login"
                },
                error: function (error) {
                    alert(error.responseText);
                },
            });
        }


</script>
<body>

    <body>
        <form>
            <div class="form-group row">
                <label for="Nickname" class="col-sm-2 col-form-label">닉네임</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Nickname" placeholder="닉네임">
                </div>
            </div>
            <div class="form-group row">
                <label for="Password1" class="col-sm-2 col-form-label">패스워드</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="Password1" placeholder="패스워드">
                </div>
            </div>
            <div class="form-group row">
                <label for="Password2" class="col-sm-2 col-form-label">재확인</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="Password2" placeholder="재확인">
                </div>
            </div>
            <button type="button" class="btn btn-sparta btn-block" onclick="sign_up()">회원가입</button>
        </form>
    </body>
    
    </html>