<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--    BootStrap Library-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!--    JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!--    Javascript-->
    <!-- <script src="#"></script> -->

    <!--    Include CSS -->
    <link href="/meStyleSheet.css" rel="stylesheet" />

</head>
<style>



</style>
<script>

    $(document).ready(function () {
        loginCheck()
        getSelf()
    });

    function getSelf(callback) {
        $.ajax({
            type: "GET",
            url: "/api/users/me",
            headers: {
                authorization: `Bearer ${localStorage.getItem("token")}`,
            },
            data: {},
            success: function (response) {
                callback(response.user);
            },
            error: function (error) {
                const status = error;
                if (status == 401) {
                    alert("로그인이 필요 합니다.");
                } else {
                    //문제가 발생하였을 경우 현재 localStorage에 있는 데이터를 전부 삭제한다.
                    localStorage.clear();
                    alert("알 수 없는 문제가 발생했습니다. 관리자에게 문의 하세요.");
                }
                window.location.href = "/";
            }
        });

    }

    // 게시글 작성
    function writePost() {
        const title = $('#title').val();
        const content = $('#content').val();
        $.ajax({
            type: "POST",
            url: "/api/posts",
            headers: {
                authorization: `Bearer ${localStorage.getItem('token')}`,
            },
            data: { title, content },
            success: function (response) {
                location.href = "/"
            },
            error: function (error) {
                console.log(error.responseJSON.errorMessage);
                alert(error.responseJSON.errorMessage);
            },
        });
    }

    function loginCheck() {
        if (!localStorage.getItem("token")) {
            alert("로그인이 필요한 기능입니다.")
            location.href = "/login"
        }
    }

</script>

<body>

    <div>

        <div class="post-body">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" placeholder="title">
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" id="content" rows="10"></textarea>
            </div>
            <button type="button" class="btn btn-primary" onclick="writePost()">게시글 작성</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='/'">취소</button>
        </div>


    </div>


</body>

</html>